<class class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="img/logo.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Random dog picker</h1>
      <h2 class="h4 text-gray font-weight-light">find your favourite dog picture</h2>
    </div>
    <a class="btn btn-primary mt-2" onclick="getDog()" href="#"> Click for random dog image </a>
  </div>
  <div id="dog-container" style="text-align: center; display: none;" ><img style="width: 300px; height: 300px;" id="dog-pics" src=""></div></class>
</div>

<script>
  function getDog(){
    document.getElementById('dog-container').style.display = 'block'
    fetch('https://dog.ceo/api/breeds/image/random')
        
    .then(response=> response.json())
    .then(data=> {document.getElementById('dog-pics').src=data.message; console.log(data)})
    .catch((error) => {
  console.error('Error:', error);
})
  }



</script>

<div class="text-gray-light text-center py-5 my-5">
  
</div>
